[Unit]
Description=Fraisier systemctl helper socket for {{ project_name }}

[Socket]
ListenStream=/run/fraisier/systemctl-{{ project_name }}.sock
SocketUser=root
SocketGroup={{ scaffold.deploy_user }}
SocketMode=0660

[Install]
WantedBy=sockets.target
